<ion-content>
  <div class="design">
    <div class="circle circle1">
       <img class="img-circle" src="assets/images/logo.png">
    </div>
    <div class="circle circle2"></div>
  </div>
<div class="login">
  <ion-button (click)="login()" mode="ios" expand="block">Go to Login</ion-button>
</div>
<div class="footer-note">
  <ion-row>
    <ion-col size="12">
  <p><strong>Developed by the GoU under the Uganda Reproductive Maternal and Child Health Services Improvement Project funded by World Bank, Global Financing Facility and the Government of Sweden</strong></p>
  </ion-col>
  </ion-row>

  <ion-row class="footer-row">
    
  <ion-col size="3">
    <img class="img-circle" src="https://dashboards.health.go.ug/safe_mama/assets/mama/images/moh_logo.png">
  </ion-col>
    <ion-col size="3">
     <img class="img-circle" src="https://dashboards.health.go.ug/safe_mama/assets/mama/images/world_bank.png">
   </ion-col>
  <ion-col size="3">
    <img class="img-circle" src="https://dashboards.health.go.ug/safe_mama/assets/mama/images/gff.png">
  </ion-col>
  <ion-col size="3">
    <img class="img-circle" src="https://dashboards.health.go.ug/safe_mama/assets/mama/images/sweden.png">
  </ion-col>
</ion-row>
</div>

</ion-content>