
ion-item{
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
}

.normal-item{
    --border-style: none;
    --inner-padding-start: 3px!important;
}

.custom-item{
    --ion-background-color: transparent!important;
     margin-top: 4px;
     margin-bottom: 4px; 
     --border-style: none;
     --inner-padding-start: 3px!important;
}

.flex_div{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;

    .back_image {
        width: 120px;
        height: 80px;
        position: relative;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5px;
        background-size: cover;
        background-repeat: no-repeat;
       
        .live2{
            font-size: 12px;
            font-family: 'medium';
            text-align: right;
        }
        .play_div{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: -5px;
            height: 100vh;
            ion-icon{
                color: white;
                font-weight: bold;
            }
            .play{
                font-size: 50px;
                margin-right: 1px;
                color: rgb(177, 17, 17);
            }
            .name{
                font-size: 14px;
                margin-top: 0px;
                line-height: 15px;
                color: white;
            }
        }
    }
    .name_lbl {
        margin-left: 16px;
        font-size: 15px;
        font-weight: bold;
    }

    .desc {
        margin-left: 16px;
        font-size: 12px;
    }
    .menu {
        color: grey;
        position: absolute;
        right: 0;
    }

    .text_desc{
        padding-right: 10px;
        display: flex;
        flex-direction: column;
    }
}